examples/n8n-workflow-example.json
{
  "name": "Download Bridge - Exemplo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-download",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://seu-servidor:8000/download/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.body.url }}"
            },
            {
              "name": "tool",
              "value": "yt-dlp"
            },
            {
              "name": "format",
              "value": "mp4"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-request-1",
      "name": "Chamar Download Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "headerAuth": {
          "id": "1",
          "name": "Download Bridge API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Download OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"direct_url\": $json.direct_url, \"message\": $json.message } }}"
      },
      "id": "respond-success",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": $json.message || \"Erro no download\", \"stderr\": $json.stderr } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chamar Download Bridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Download Bridge": {
      "main": [
        [
          {
            "node": "Download OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download OK?": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
